/* Write your CSS here! */

#Name {
    color: red (247, 243, 8);
}
img {
	max-width: 100%;
}

header {
    color:blueviolet;
	text-align: right;
}

footer {
	text-align: center;
	background-color: red;
	color: rgb(8, 8, 8);
}

h2 {
	position: absolute;
	top: 20px;
	margin-left: 100px;
}

h3 {
	margin: 5px;
	display: inline;
}


