/* Write your CSS here! */

#Name {
    color: red (247, 243, 8);
}

/* mouse over link */
a:hover {
    color: red;
	text-decoration: none;
}

/* selected link */
a:active {
    color: orchid;
}

img {
	max-width: 100%;
}

header {
    color:blueviolet;
	text-align: right;
}

footer {
	text-align: center;
	background-color: red;
	color: rgb(8, 8, 8);
}

header {
	position: absolute;
	top: 20px;
	margin-left: 100px;
}

h2 {
	margin: 5px;
	display: inline;
}

.content {
	max-width: 30%;
	text-align: center;
	display: inline-block;
}

